APP_PORT=8081
POSTGRES_PORT=5432

DB_HOST=db  #127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=root
DB_NAME=tradeapi_db

JWT_KEY=

MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ADDRESS=

QUEUE_CAPACITY=